<div id="title">
	<h1> {{title}} </h1>
	<h2> {{subtitle}} </h2>	
	<p> {{email}} </p>
</div>

<article class="about">
	<h2> Sobre mi</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt sollicitudin lectus, eget ornare dolor efficitur non. Phasellus mattis facilisis dui, non porttitor velit bibendum non. Sed est odio, pellentesque ac faucibus ut, auctor eget augue. Aliquam blandit dui ac dolor dictum, eget sagittis enim consectetur. Duis tincidunt at leo id dignissim. Nam eget magna efficitur, vulputate sapien ut, sollicitudin nunc. Pellentesque interdum dui mauris, a sodales tortor viverra non. Nam sed finibus libero. Nullam sodales leo in nibh tempor lobortis. Sed eget gravida mi, ac egestas ligula. Sed quis diam ultricies ex ultrices efficitur nec non nulla.
	</p>
</article>